.navbar-default {
  padding-top: 0;
  margin-top: 0;
  border-bottom-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #a30404;
  background-color: #d10a0a;
  font-weight: 900;
  font-size: 20px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color:white;
}

.btn-group, .btn-group-vertical {
    margin-top: 7px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}




